/* Type your code here */
*{
	padding: 0;
	margin: 0;
}
/*body{
	background-image: url('/assets/background-image1.png');
	background-color: black;
	width: 80%;
	margin: auto;
	background-repeat:no-repeat;
	background-size: 1400px;
	background-position: center;
	font-family: Arial;
}*/
#kgf{
	text-decoration: none;
}
body{
        background-image: url('./assets/background-image1.png');
		border-image-width: 110px;
        background-repeat:no-repeat;
        background-size: 1280px;
        background-position: right;
		font-family: Arial;
		margin: 30px;
		padding:20px;
		background-color:white;
}
  
#logo{
	display: block;
	margin-left: 1000px;
	padding: 15px;
}
h1{
	font-size: 50px;
	text-shadow: 4px 4px 6px gray;
	margin: 20px;
}
h2{
	font-size: 25px;
	color: gray;
	margin: 30px;
}
table{
	border-collapse: collapse;
	border-color: gray;
	width: 80%;
  }
  
  td, th {
	padding: 8px;
	background-color: white;
  }
#h{
	background-color:red;
	color: white;
	margin:10px;
	padding:10px;
}
p{
	color:rgb(65, 63, 63);
}

#header{
	justify-content: end;
	text-align: center;
}
#title{
	text-align: left;
}

.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 20px;
	margin-left: 50px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}